* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.4rem;
  margin-bottom: 50vh;
}

/* Prevent "jumpy" UI when component is loading. */
site-menu {
  display: block;
  min-height: 8rem;
}

site-footer {
  display: block;
  margin-top: 8rem;
}

main {
  min-height: calc(70vh);
}

.figure {
  margin: 0;
}

.figure--float-right {
  float: right;
  max-width: 270px;
}

.figure figcaption {
  font-size: 1.4rem;
}
