@import url('/fonts/fonts.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.4rem;
  margin-bottom: 50vh;
}

/* Prevent "jumpy" UI when component is loading. */
site-menu {
  display: block;
  min-height: 9rem;
}

site-footer {
  display: block;
  clear: both;
  margin-top: 30rem;
}

.figure {
  margin: 2rem;
}

.figure--float-right {
  max-width: 27rem;
}

@media (min-width: 67rem) {
  .figure--float-right {
    float: right;
    max-width: 27rem;
  }
}

.figure figcaption {
  font-size: 1.4rem;
}
